textarea {
    width: 100%;
    height: 400px;
}

.secTit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

[class^=section] {
    width: 600px;
}

button {
    padding: 4px 10px;
}

.section2 {
    width: 600px;
}

.section2>.div {
    display: flex;
}

.section2>.div>div {
    width: 300px;
}

.section2>.div>div textarea {
    height: 200px;
}

.section3>.div {
    display: flex;
}

.section3>.div input {
    height: 20px;
    width: 50px;
}

.list {
    position: fixed;
    right: 10px;
    top: 30px;
    border: black solid 1px;
    padding: 0 10px;
}
.list li{
    list-style: none;
}

.srchBox{
    position: fixed;
    right: 10px;
    top: 0px;
    padding: 5px;
}
.srchBox input{
    height: 25px;
    width: 390px;
}


.section4>div {
    display: flex;
}

.section4>div th {
    width: 90px;
}

.section4>div textarea {
    width: 80%;
    height: 100%;
}

.section4>div table {
    margin-right: 10px;
    border-collapse: collapse;
}

.section4>div table td,
.section4>div table th {
    border: black 1px solid;
}

.section4>div table td {
    height: 20px;
}

.section4>div table>thead th.chk::before {
    content: "기준";
}

#taFunc11 {
    height: 150px;
}

.list a{
    color: black;
    text-decoration: none;
}
.list a:hover{
    text-decoration: underline;
}
.list a.active{
    text-decoration: underline;
    font-weight: bold;
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border: blue solid 2px;
    padding: 10px;
    opacity: 0;
    text-align: center;
    min-width: 150px;
    min-height: 50px;
}

.popup.show{
    animation: fade-in-out 1s;
}